html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 50px;
}

.search-input {
  -webkit-appearance: none;
  font-size: 28px;
  font-weight: 300;
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 3px;
}

.results {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.results li {
  margin: 10px 0;
}

.results li a {
  display: block;
  text-decoration: none;
  color: #666666;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
}

.results li a:hover {
  background-color: #fcfcfc;
}

.results li a span {
  display: block;
}

.results li a span:first-child {
  padding-bottom: 5px;
  font-weight: 700;
  color: #333333;
}

.results li a span:not(:first-child) {
  font-size: 12px;
  font-style: italic;
}
